.splash {
  --splash-color: var(--color-primary-text);
  --splash-background-color: var(--color-primary);

  width: 100vw;
  height: 100vh;
  color: var(--splash-color);
  background-color: var(--splash-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-title {
  font-size: 64px;
}

.splash-subtitle {
  font-size: 32px;
}
