.stack {
  display: flex;
  flex-direction: column;
}

.stack > * {
  margin-top: 6px;
}

.stack :nth-child(1) {
  margin-top: 0;
}

.stack-horizontal {
  display: flex;
}

.stack-horizontal > * {
  margin-left: 6px;
}

.stack-horizontal :nth-child(1) {
  margin-left: 0;
}
